
.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}
.btn-code {
  background: #d8dbe0;
  opacity: .8;
  padding: 7px;
  border-radius: 3px;
}
.bloc-code {
  background: #d8dbe0;
}
